
/*
body {
	color: #333333;
    font-size: 12px;
}
a { color: #777777; }
a:hover,
.vertnav li.current > a { color: #00a9c7; }



#nav ul li a,
#mini-cart .block-content a,
.dropdown-button ul a
{
			color: #777777;
	}
#nav ul li a:hover,
#mini-cart .block-content a:hover,
.dropdown-button ul a:hover
{
			color: #00a9c7;
	}

.nav
{
			background-color: #B24300;
	}

#nav,
.vertnav-top li a
{
	background-color: #f5f5f5;
    color: #333333;
}
#nav > li > a
{
	color: #333333;
}

    #nav ul.level0 { top:54px; }

.main {
			background-color: #ffffff;
    }

.feature div.icon
{
	background-color: #d52462;
}
.feature:hover div.icon
{
	background-color: #5bd2ec;
}



.price-box .price { color: #00a9c7; }



.sticker.new {
	background-color: #5bd2ec;
	color: #ffffff;
}
.sticker.sale {
	background-color: #f12b63;
	color: #ffffff;
}



.social-links a {
	background-color: #888888;
}
.social-links a:hover {
	background-color: #333333;
}
*/
